# ===== Frontend (Render Static Site) - variables de build =====

VITE_SUPABASE_URL=https://xnhtmexkkbpnbtrnbpjs.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_Lvyl9gUvKo0sqPiTODKLOw_VFbW1iis
VITE_API_URL=http://localhost:3001
