# Secretos - NUNCA subir
.env
*.env
!.env.example
.env.local


# Datos del servidor (mundo, mods, configs reales)
server-data/

# Node
node_modules/
dist/

# Python
__pycache__/
*.pyc
.venv/

# Sistema
Thumbs.db
.DS_Store
